table {
	width: 100%;
	font-size: 1.5rem;
	background: $color-white;
	border: 0;
}

th,
td {
	vertical-align: baseline;
}

thead {
	th {
		padding: 2.5rem 2rem;
		font-size: 1.5rem;
		font-weight: 500;
		color: $color-blue;
		vertical-align: baseline;
		@include ico {
			color: $color-grey !important; // stylelint-disable-line declaration-no-important
			cursor: pointer;
			span + & { // stylelint-disable-line selector-max-type
				margin-left: 8px;
			}
		}
	}
}

tbody {
	tr {
		&:nth-child(odd) {
			background: $color-lighter;
		}
	}

	td {
		padding: 15px 20px;
	}

	.ico-email-read {
		color: lighten($color-grey, 20);
	}

	.ico-multi,
	.ico-search {
		position: relative;
		top: -1px;
		margin-left: 7px;
		font-size: 1.2rem;
		color: $color-blue;
	}
}

tfoot {
	td {
		padding: 15px 20px;
	}
}
