.o-btn {
	border-radius: 0;
	cursor: pointer;
	text-align: center;
	padding-left: 2rem;
	padding-right: 2rem;
	&:disabled {
		cursor: default;
	}
	&--primary {
		border-color: $color-primary;
		background: $color-primary;
		color: $color-light;
		&:disabled {
			background: desaturate($color-primary, 50);
			border-color: desaturate($color-primary, 50);
		}
		&:not(:disabled):hover {
			color: $color-light;
			background: darken($color-primary, 20);
			border-color: darken($color-primary, 20);
		}
		strong {
			display: block;
			font-size: 4.8rem;
			line-height: 1.2;
		}
	}
	&--secondary {
		border: .1rem solid transparentize(darken($color-secondary, 20), .25);
		color: darken($color-secondary, 20);
		background: transparentize($color-light, .8);
		font-weight: 500;
		font-size: 2.4rem;
		&:hover {
			background: $color-light;
		}
		@include media-breakpoint-down(sm) {
			font-size: 1.8rem;
		}
	}
	&--tertiary {
		text-transform: uppercase;
		color: $color-light;
		border: .1rem solid $color-light;
		background: transparentize($color-light, .8);
		font-weight: 500;
		font-size: 2.5rem;
		&:hover {
			color: $color-light;
			background: transparentize($color-light, .4);
		}
	}
	&--quaternary {
		border-color: $color-secondary;
		background: $color-secondary;
		color: $color-light;
		&:hover {
			color: $color-light;
			background: darken($color-secondary, 20);
			border-color: darken($color-secondary, 20);
		}
	}
}
