// Colors

$color-light: #fff !default;
$color-neutral: #d1d1d1 !default;
$color-dark: #333 !default;
$color-primary: #ef6d16 !default;
$color-secondary: #3a9dbe !default;

$color-gradient-top: #4bb7e6;
$color-gradient-bottom: #83dbe6;
